<div class="task-list">
    <div class="list-group">
        <ul class="list-group">
            <li class="list-group-item active">
                Next trip around the world!
            </li>
            <a class="list-group-item" ng-repeat="task in tasks" ng-click="gotoTaskDetail(task)">
                <span class="badge" ng-click="deleteTask(task, $event)"><i class="fa fa-times"></i></span>
                {{ task.name }}
            </a>
        </ul>
        <uib-pagination
            total-items="totalItems"
            items-per-page="itemsPerPage"
            ng-model="currentPage"
            ng-change="updateList()">
        </uib-pagination>
    </div>
</div>
