<div class="task-detail">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>The task is part of the group <span class="lead">RoadTrip</span></p>
            <p>task name: {{ task.name }}</p>
            <button ng-click="delete()">Delete this task</button>
        </div>
    </div>
</div>
